.elements {
  margin: 50px auto 0;
  max-width: 880px;

  justify-content: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
}

@media screen and (max-width: 768px) {
  .elements {
    margin-top: 36px;
  }
}
