.popup__container {
  box-sizing: border-box;
  margin: auto;
  padding: 36px;

  position: relative;

  max-width: 430px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .popup__container {
    padding: 25px 22px;

    max-width: 282px;
  }
}
