.popup__input {
  margin: 0 0 30px;

  min-height: 27px !important;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
