.popup {
  font-family: inherit;
  display: flex;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;

  justify-content: center;
  align-items: center;

  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;

  background: rgba(0, 0, 0, .5);

  transition: visibility .3s, opacity .5s ease-out;
}

